* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f0f17;
  color: white;
}


.navbar {
  background: #000;
  padding: 18px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: #a855f7;
}

nav a {
  margin: 0 18px;
  text-decoration: none;
  color: #ddd;
  font-weight: 500;
}

nav a:hover {
  color: #a855f7;
}

.navbar input {
  padding: 10px;
  width: 240px;
  border-radius: 8px;
  border: none;
  background: #1f1f2e;
  color: white;
}


.banner {
  height: 220px;
  margin: 25px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #6d28d9, #a855f7, #ec4899);
}

.banner-text {
  padding: 40px;
}

.banner h2 {
  font-size: 48px;
}


.movie-section {
  padding: 20px 30px;
}

.movie-section h2 {
  margin-bottom: 15px;
  font-size: 22px;
}


.movie-row {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  scroll-behavior: smooth;
}

.movie-row::-webkit-scrollbar {
  height: 8px;
}

.movie-row::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}


.movie-card {
  min-width: 180px;
  background: #1a1a25;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}

.movie-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.movie-card h3 {
  padding: 10px;
  font-size: 14px;
}

.movie-card:hover {
  transform: scale(1.08);
}


.favorite-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(0,0,0,0.7);
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  cursor: pointer;
  transition: 0.2s;
}

.favorite-button:hover {
  transform: scale(1.15);
}

.favorite-button.active {
  color: #ff4d6d;
}